<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <aop:aspectj-autoproxy proxy-target-class="false" expose-proxy="false" />

    <!-- 配置包扫描器 -->
    <context:component-scan base-package="com.zhj.controller"/>
    <!-- 配置注解驱动 -->
    <mvc:annotation-driven validator="validator"/>

    <bean id="messageSource"  class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    </bean>
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>

    <bean class="com.zhj.controller.SpringContextHolder" />

    <bean id="user" class="com.zhj.entity.User">
        <property name="age" value="29"/>
        <property name="name" value="zhj"/>
    </bean>

    <bean class="java.text.SimpleDateFormat" >
        <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
    </bean>

    <bean id="testBean" class="com.zhj.entity.TestBeanImpl"/>
    <bean class="com.zhj.aop.AspectJTest" />

    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc://47.95.120.7:3306/chunfenDB"/>
        <property name="username" value="chunfenUser"/>
        <property name="password" value="123456" />
        <!-- 连接池启动时的初始值 -->
        <property name="initialSize" value="1"/>
        <!-- 连接池的最大值 -->
        <property name="maxActive" value="300" />
        <property name="maxIdle" value="2" />
        <property name="minIdle" value="1"/>
    </bean>

    <!-- 配置业务bean -->
    <bean id="userService" class="com.zhj.service.UserServiceImpl" >
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>